<section class="p-2">

    <div *ngFor="let group of myGroups" [ngClass]="{'bg-blue-chill-300/20 hover:bg-blue-chill-300/50 ': group.amount_due == 0, 'bg-red-300/20 hover:bg-red-300/50': group.amount_due > 0}" class="grid grid-cols-12 p-4 rounded-full cursor-pointer mt-4" [routerLink]="['/group', group.group_id]">
        <div class="col-span-2">
            <img [src]="group.image" class="rounded-full h-[60px] w-[84px]">
        </div>
        <div class="col-span-8 grid grid-rows-2">
            <div class="row-span-1">
                <p class="ml-4 text-xl font-bold ">{{ group.name }}</p>
            </div>
            <div class="row-span-1">
                @if(group.amount_due > 0) {
                    <marquee class="ml-4 text-sm text-red-500">¡Falta por pagar <b class="text-md">{{ group.amount_due }}€</b>!</marquee>
                } @else {
                    <p class="ml-4 text-sm">Pago de: <span class="text-md font-bold text-blue-chill-900">{{ group.last_user_name }}</span> | Dinero: <span class="text-md font-bold text-blue-chill-900">{{ group.last_amount }}€</span></p>
                }
            </div>
        </div>
        <div class="col-span-2 grid grid-rows-2 items-center text-center">
            <div class="row-span-1">                 
                @if(isToday(group.date)){
                    <p class="text-sm font-bold text-[10px]">{{ group.date | date:'HH:mm' }}</p>
                } @else {
                    <p class="text-sm font-bold text-[10px]">{{ group.date | date:'dd/MM/yyyy' }}</p>
                } 
            </div>
            <!-- <div class="row-span-1 flex justify-center">
                <span class="font-bold text-white rounded-full bg-blue-chill-700 flex items-center justify-center h-[26px] w-[26px] text-sm">1</span>
            </div> -->
        </div>
    </div>

    <footer class="fixed bottom-0 h-[50px] w-full">
            <div class="absolute top-[-30px] w-full">
                <div class="flex justify-end mr-6">
                    <button class="bg-blue-chill-500 hover:bg-blue-chill-600 w-[60px] h-[60px] rounded-[60px] text-white" routerLink="group">
                        <i class="fa fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
    </footer>

</section>
